@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ProtestGuerrilla';
    src: url('./assets/static/ProtestGuerrilla-Regular.ttf') format('truetype'); 
    font-weight: normal; /* Specify the weight if needed */
    font-style: normal; /* Specify the style if needed */
  }
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:'ProtestGuerrilla';
}